.git
.github
.npm-cache
.nuget
.docker-config
**/bin
**/obj
**/node_modules
src/Web/dist
src/Server/wwwroot
tests
docs
*.user
*.suo
.env
.env.*
**/appsettings.Development.json
**/appsettings.*.local.json
backups
exports
